<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">RoR SIB</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <%= link_to 'Lihat artikel', {controller: 'articles'}, class: "nav-link" %>
    </li>
  </ul>
</nav>
