<%= render "layouts/header" %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 card">
      <div class="card-body">
        <div class="card-title">
          <h1>Edit User</h1>
        </div>
        <div class="card-text">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
