<%= render 'layouts/header' %>
<div class="container">
  <p>
  Selamat datang di RoR SIB ! <br/>
  RoR SIB merupakan Sistem Informasi Berita yang dibuat menggunakan framework Ruby on Rails <%= image_tag("rails.png", alt: "Rails", height: "30px")%> , Sistem ini masih dalam tahap pengembangan sehingga fiturnya masih terbilang sedikit. Tetapi mengikuti request dan saran akan diusahakan untuk menambah fitur sesuai dengan yang diinginkan
  </p>
</div>
