<%= render 'layouts/header' %>
<center>
  <div class="card">
    <div class="card-body bg-dark">
      <h1 class="text-white">
        Selamat datang di
        <%= image_tag("rails.png", alt: "Rails", height: "50px") %>
        <i>RoR SIB</i>
      </h1>
    </div>
  </div>
</center>

<div class="container">
  <p>
  RoR SIB merupakan Sistem Informasi Berita yang dibuat menggunakan framework Ruby on Rails <%= image_tag("rails.png", alt: "Rails", height: "30px")%> , Sistem ini masih dalam tahap pengembangan sehingga fiturnya masih terbilang sedikit. Tetapi mengikuti request dan saran akan diusahakan untuk menambah fitur sesuai dengan yang diinginkan
  </p>
</div>
